doctype html
html(lang='de')
  head
    base(href='https://www.bundesverfassungsgericht.de/')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Bundesverfassungsgericht  -  Gebäude
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0,')
    link(rel='stylesheet', href='SiteGlobals/Frontend/Styles/foundation.css?v=4', type='text/css', media='projection, screen, handheld')
    link(rel='stylesheet', href='SiteGlobals/Frontend/Styles/module/jquery-ui-autosuggest/addon_autosuggest.css?v=2', type='text/css', media='projection, screen,handheld')
    link(rel='stylesheet', href='SiteGlobals/Frontend/Styles/small.css?v=15', type='text/css', media='projection, screen, handheld')
    link(rel='stylesheet', href='SiteGlobals/Frontend/Styles/addon_medium.css?v=8', type='text/css', media='projection, screen, handheld')
    link(rel='stylesheet', href='SiteGlobals/Frontend/Styles/addon_large.css?v=6', type='text/css', media='projection, screen, handheld')
    link(rel='stylesheet', href='SiteGlobals/Frontend/Styles/addon_print.css?v=7', type='text/css', media='print')
  body.gsb.js-off
    #wrapperOuter
      #wrapperInner
        a#Start
        h1.aural Bundesverfassungsgericht
        p.navSkip
          em Springe direkt zu:
        ul.navSkip
          li
            a(href='DE/Gebaeude/gebaeude_node.html#content') Inhalt
          li
            a(href='DE/Gebaeude/gebaeude_node.html#navPrimary') Hauptmenu
          li
            a(href='DE/Gebaeude/gebaeude_node.html#search') Suche
        #wrapperDivisions
          #branding
            #header.row
              .medium-6.logo.columns
                p.left
                  a#anfang(href='DE/Homepage/homepage_node.html', title='Zur Startseite')
                    img(src='/SiteGlobals/Frontend/Images/logo.png?__blob=normal&v=3', alt='Government Site Builder Standardlösung (Link zur Startseite)')
              #siteNav.medium-6.columns
                #navServiceMeta
                  div
                    h2.aural Servicemenü
                    select#navServiceMetaSmall(name='navServiceMetaSelect')
                      option(title='', value='') Bitte wählen
                      option(title='Übersicht', value='DE/Service/Uebersicht/uebersicht_node.html') Übersicht
                      option(title='Kontakt', value='DE/Service/Kontakt/kontakt_node.html') Kontakt
                      option(title='Englisch', value='EN/Homepage/home_node.html') Englisch
                    ul#navServiceSpracheSmall
                      li#navServiceGS
                        a(href='DE/Service/Gebaerdensprache/gebaerdensprache_node.html') Ge­bär­den­spra­che
                      li#navServiceLS
                        a(href='DE/Service/LeichteSprache/leichtesprache_node.html') Leich­te Spra­che
                    ul#navServiceSpracheMiddle
                      li
                        a(href='DE/Service/Uebersicht/uebersicht_node.html', accesskey='0') Über­sicht
                      li
                        a(href='DE/Service/Kontakt/kontakt_node.html') Kon­takt
                      li
                        a.languageLink.lang_en(title='Switch to english website', href='EN/Homepage/home_node.html', xml:lang='en', hreflang='en', lang='en') English
                      li#navServiceGS
                        a(href='DE/Service/Gebaerdensprache/gebaerdensprache_node.html') Ge­bär­den­spra­che
                      li#navServiceLS
                        a(href='DE/Service/LeichteSprache/leichtesprache_node.html') Leich­te Spra­che
                #search
                  .large-12
                    h2.aural Suche
                    form(name='ServicebereichSuche', action='SiteGlobals/Forms/Suche/Servicesuche_Formular.html', method='get', enctype='application/x-www-form-urlencoded')
                      input(type='hidden', name='nn', value='5399606')
                      input(type='hidden', name='resourceId', value='5402340')
                      input(type='hidden', name='input_', value='5399606')
                      input(type='hidden', name='pageLocale', value='de')
                      fieldset
                        p
                          span.formField
                            input#f5402340d5403384(name='templateQueryString', value='Suchbegriff', title='Suchbegriff ', type='text', size='26', maxlength='100')
                          input#f5402340d5403366(name='sortOrder', value='score desc', type='hidden')
                          input#f5402340d5403396(name='language_', value='de', type='hidden')
                          input#f5402340d5403368.image(type='image', src='/SiteGlobals/Forms/_components/Buttons/Servicesuche_Submit.png?__blob=image&v=1', name='submit', alt='Suchen', title='Suchen')
            .headImage
              img(src='/SharedDocs/Bilder/DE/Header/HeadImage-Gebaeude.jpg?__blob=normal&v=6')
          .nav
            .row
              #navPrimary.medium-12.smallHidePanel.large-12
                h2.aural Hauptnavigation
                ul
                  li.n-1.first
                    #n-1
                      h3
                        a(href='DE/Das-Gericht/das-gericht_node.html') Das Ge­richt
                      h4.aural Unternavigationspunkte
                      .menu.fl-1
                        .menu-box
                          ul
                            li
                              a(href='DE/Das-Gericht/Gericht-und-Verfassungsorgan/gericht-und-verfassungsorgan_node.html') Ge­richt und Ver­fas­sungs­or­gan
                            li
                              a(href='DE/Das-Gericht/Aufgaben/aufgaben_node.html') Auf­ga­ben
                            li
                              a(href='DE/Das-Gericht/Organisation/organisation_node.html') Or­ga­ni­sa­ti­on
                            li
                              a(href='DE/Das-Gericht/Bibliothek/bibliothek_node.html') Bi­blio­thek
                            li
                              a(href='DE/Das-Gericht/Internationale-Perspektiven/internationale-perspektiven_node.html') In­ter­na­tio­na­le Per­spek­ti­ven
                            li.last
                              a(href='DE/Das-Gericht/Zeitstrahl/zeitstrahl_node.html') Ge­schich­te
                  li.n-2
                    #n-2
                      h3
                        a(href='DE/Richter/richter_node.html') Rich­te­rin­nen und Rich­ter
                      h4.aural Unternavigationspunkte
                      .menu.fl-1
                        .menu-box
                          ul
                            li
                              a(href='DE/Richter/Erster-Senat/erster-senat_node.html') Ers­ter Se­nat
                            li
                              a(href='DE/Richter/Zweiter-Senat/zweiter-senat_node.html') Zwei­ter Se­nat
                            li.last
                              a(href='DE/Richter/Verhaltensleitlinie/Verhaltensleitlinien_node.html') Ver­hal­tens­lei­t­li­ni­en
                  li.n-3
                    #n-3
                      h3
                        a(href='DE/Verfahren/verfahren_node.html') Ver­fah­ren
                      h4.aural Unternavigationspunkte
                      .menu.fl-1
                        .menu-box
                          ul
                            li
                              a(href='DE/Verfahren/Wichtige-Verfahrensarten/wichtige-verfahrensarten_node.html') Wich­ti­ge Ver­fah­rens­ar­ten
                            li
                              a(href='DE/Verfahren/Der-Weg-zur-Entscheidung/der-weg-zur-entscheidung_node.html') Der Weg zur Ent­schei­dung
                            li
                              a(href='DE/Verfahren/Geschaeftsverteilung/geschaeftsverteilung_node.html') Ge­schäfts­ver­tei­lung
                            li
                              a(href='DE/Verfahren/Jahresvorausschau/jahresvorausschau_node.html') Jah­res­vor­aus­schau
                            li
                              a(href='DE/Verfahren/Jahresstatistiken/jahresstatistiken_node.html') Jahres­sta­tis­ti­ken
                            li
                              a(href='DE/Verfahren/Rechtsquellen/rechtsquellen_node.html') Rechts­quel­len
                            li.last
                              a(href='DE/Verfahren/Datenschutz%20f%C3%BCr%20den%20justiziellen%20Bereich/Datenschutz%20f%C3%BCr%20den%20justiziellen%20Bereich_node.html') Da­ten­schutz für den jus­ti­zi­el­len Be­reich
                  li.n-4
                    #n-4
                      h3
                        a(href='DE/Entscheidungen/entscheidungen_node.html') Ent­schei­dun­gen
                      h4.aural Unternavigationspunkte
                      .menu.fl-1
                        .menu-box
                          ul
                            li
                              .teaser
                                p
                                  | Hier erhalten Sie eine Auflistung aller Entscheidungen seit 1998 inklusive einer Suchfunktion.
                                p.all
                                  strong
                                    a(href='DE/Entscheidungen/entscheidungen_node.html') Mehr
                  li.n-5
                    #n-5
                      h3
                        a(href='DE/Presse/presse_node.html') Pres­se
                      h4.aural Unternavigationspunkte
                      .menu.fl-1
                        .menu-box
                          ul
                            li
                              a(href='DE/Presse/Pressemitteilungen/pressemitteilungen_node.html') Pres­se­mit­tei­lun­gen
                            li
                              a(href='DE/Presse/Termine/termine_node.html') Ter­mi­ne
                            li
                              a(href='DE/Presse/Akkreditierungshinweise/akkreditierungshinweise_node.html') Ak­kre­di­tie­rungs­ver­fah­ren
                            li
                              a(href='DE/Presse/Pressestelle/pressestelle_node.html') Pres­se­stel­le
                            li
                              .teaser
                                p
                                p.all
                                  strong
                                    a(href='DE/Presse/presse_node.html') Mehr
                  li.n-6.last.active
                    #n-6.mod
                      h3
                        strong Ge­bäu­de
                      h4.aural Unternavigationspunkte
                      .menu.fl-1
                        .menu-box
                          ul
                            li
                              a(href='DE/Service/Infothek/Bildergalerie_Gebaeude/bildergalerie_node.html') Bil­der­ga­le­rie zum Ge­bäu­de
                            li.last
                              a(href='DE/Service/Infothek/Rundgang/rundgang_node.html') Vir­tu­el­ler Rund­gang
              .medium-2.large-2
                button#navPrimaryButton.small-offset-6.small-2.medium-offset-0.medium-4.large-hide
                  | Menu öffnen
          #main.row
            #content.medium-8.columns
              h1.aural Sie sind hier:
              #navBreadcrumbs.breadcrumb
                p
                  span.first
                    a(href='DE/Homepage/homepage_node.html') Startseite
                  span
                    strong Gebäude
              #wrapperContent
                a#Inhalt
                .titleRow
                  h1
                    strong Gebäude
                .text
                  h2 Vom Prinz-Max-Palais in den Schlossbezirk
                  p.MsoNormal
                    | Das Bundesverfassungsgericht nahm im Jahr 1951 seine Tätigkeit im Prinz-Max-Palais auf. Dieses in den 1880er Jahren errichtete Gebäude liegt in der Nähe des (heutigen) Europaplatzes in der Karlsruher Innenstadt. Es ist benannt nach Prinz Max von Baden, der dort von 1900 bis 1918 wohnte. Prinz Max von Baden war badischer Thronfolger und letzter Reichskanzler des Kaiserreichs.
                    abbr(title='Millionen') Mio.
                    abbr(title='Deutsche Mark') DM
                    | .
                  h2 Der Baumgarten-Bau
                  p.MsoNormal
                    | Der Baumgarten-Bau besteht aus fünf Bauteilen. Sie sind durch einen mehr als 70 
                    abbr(title='Meter') m
                    |  langen, geraden Gang verbunden:
                  ul
                    li.MsoNormal
                      | Das höchste Gebäude des Ensembles ist das Sitzungssaalgebäude. Dort zeigt sich seine Transparenz auf besondere Weise. Gläserne Wände ermöglichen Einblicke in den Sitzungssaal mit dem mehrere hundert Kilo schweren Bundesadler aus Holz von Hans Kindermann. Im Erdgeschoss des Sitzungssaalgebäudes befinden sich ein großes Foyer sowie der Plenarsaal. Im Zwischengeschoss liegen ein Empfangssaal sowie der Presseraum.
                    li.MsoNormal
                      | Das daneben liegende Richtergebäude wird wegen seines Grundrisses auch Richterring genannt und „schwebt“ auf Stahlstützen über dem Boden. Im ersten Obergeschoss befinden sich die Büros und das Beratungszimmer des Ersten Senats, und im zweiten Geschoss die des Zweiten Senats.
                  p
                    | Seit 1982 hat das Bundesverfassungsgericht zudem Räumlichkeiten im Nord-West-Flügel des Schlosses angemietet. Diese sind durch einen unterirdischen Gang mit dem Gericht verbunden.
                  p
                    | Entdecken Sie das Bundesverfassungsgericht auf einem 
                    a.RichTextIntLink.NavNode(href='DE/Service/Infothek/Rundgang/rundgang_node.html', title='Virtueller Rundgang') virtuellen Rundgang
                    |  durch das von Prof. Paul Baumgarten entworfene Gebäude.
                  h2 Erweiterungsbau
                  p
                    | Ein Großteil der Wissenschaftlichen Mitarbeiterinnen und Mitarbeiter ist im Jahr 2007 fertiggestellten Erweiterungsbau untergebracht, der vom Berliner Architekten Michael Schrölkamp entworfen wurde. Es handelt sich um ein dreigeschossiges Gebäude mit einer begrünten Fassade zum Botanischen Garten, das über einen Glasgang mit dem Baumgarten-Bau verbunden ist.
                  p
                    | Eine Galerie mit Bildern des Gebäudeensembles im Karlsruher Schlossbezirk finden Sie 
                    a.RichTextIntLink.NavNode(href='DE/Service/Infothek/Bildergalerie_Gebaeude/bildergalerie_node.html', title='Bildergalerie zum Gebäude') hier
                    | .
                .sectionRelated
            #supplement.medium-4.columns
              .languageSelectionBox
                .languageSelectBox
                  h3 Verfügbare Sprachen
                  ul
                    li.even.on
                      strong Deutsch
                    li.odd.off
                      a(href='EN/Gebaeude/gebaeude_node.html', title='Building', xml:lang='en', hreflang='en', lang='en') English
              #navSecondary
                .navMain
                  h2.aural Gebäude
                  ul
                    li.first.mainNav
                      a(href='DE/Service/Infothek/Bildergalerie_Gebaeude/bildergalerie_node.html') Bil­der­ga­le­rie zum Ge­bäu­de
                    li.last.mainNav
                      a(href='DE/Service/Infothek/Rundgang/rundgang_node.html') Vir­tu­el­ler Rund­gang
              #addContent
                h2.aural
                  a#Zusatzinformationen Zusatzinformationen
          #footer
            #service-section.row
              .service-section-wrapper
                h2.aural Services des Bundesverfassungsgerichts
                .service-section.columns
                  ol
                    li.RSS-Feeds
                      a(href='DE/Service/RSS/rss_node.html') RSS
                    li.Twitter
                      a(href='DE/Service/Twitter/twitter_node.html') Twitter
                    li.Newsletter
                      a(href='DE/Service/Newsletter/newsletter_node.html') Newsletter
                    li.Besucherdienst
                      a(href='DE/Service/Besucherdienst/besucherdienst_node.html') Besucherdienst
                    li.Entscheidungsversand
                      a(href='DE/Service/Entscheidungsversand/entscheidungsversand_node.html') Entscheidungsversand
                    li.Stellenangebote
                      a(href='DE/Service/Stellenangebot/Stellenangebote_node.html') Stellenangebote
                    li.impressum_node
                      a(href='DE/Service/Impressum/impressum_node.html') Impressum
                    li.Datenschutz
                      a(href='DE/Service/Datenschutz/Datenschutz_node.html') Datenschutz
            .row
              .large-6.columns
                .row
                  .medium-6.columns
                    h2 Hausanschrift
                    p Schlossbezirk 3
                    p 76131 Karlsruhe
                  .medium-6.columns
                    h2 Postanschrift
                    p
                      span.label Postfach
                      span.value  1771
                    p 76006 Karlsruhe
              .large-6.columns
                .row
                  .medium-6.columns
                    h2 Kontakt
                    p
                      span.label Telefon:
                      span.value +49 (721) 9101-0
                    p
                      span.label Fax:
                      span.value +49 (721) 9101-382
                  .medium-6.columns.email
                    h2
                      a(href='DE/Service/Kontakt/kontakt_node.html') Zum Kontaktformular
            .row
              p.copyright.medium-6.column © 2019 Bundesverfassungsgericht 
