doctype html
html(lang='de')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Bundesverfassungsgericht  -  Gebäude
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0,')
  style.
    .container {
    background-color: #2ba6cb;
    padding: 90 90px;
    }
  body
    .container
      h2
        mijn eerste boostrap web pagina
      p
        | mkqlsdfj qsdmlqskjdfqms dmqsldkjskfjqs dfqmsldfkjqsd fqsldfj sj lskjfqsldkfjq qslmdkjqslf sqdlkfj sdlj jq slfjqsmdlfj qslqksdfjqmsldfj smlfjqsfljq sdflqjsf lqsdlfjqs slfj qlsdfjqslm fqsldfk jqsd flqs ljqslfjqslfj l js sf jsljflsjfs lsjfslfdkjqs qsfjqsl fkqs fjs  s
    .container(style='background: green;')
      h1 GeeksforGeeks
      p A computer science portal for geeks.      
    .container
      h3 Prepend Group Example
      // Declare an input group
      .input-group
        // Prepend the following content to the input box
        .input-group-prepend
          // Define the text content of the group
          span#username.input-group-text @
        // Declare an input box
        input.form-control(type='text', placeholder='Username')
      h3 Append Group Example
      // Declare an input group
      .input-group
        // Declare an input group
        input.form-control(type='text', placeholder='Email')
        // Prepend the following content to the input box
        .input-group-append
          // Define the text content of the group
          span#email.input-group-text @example.com
      h3 Prepend and Append Together
      // Declare an input group
      .input-group
        // Prepend the following content to the input box
        .input-group-prepend
          // Define the text content of the group
          span.input-group-text https://
        // Declare an input group
        input.form-control(type='text', placeholder='Your domain name here')
        // Append the following content to the input box
        .input-group-append
          // Define the text content of the group
          span.input-group-text .com
